.repoCard {
  cursor: pointer;
  color: var(--text);
  text-decoration: none;
}

.repoCard h4 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  margin: 0;
}

.repoCard p {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}

.language {
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--text-light);
}

.stars {
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--text-light);
}