.repoCard {
  cursor: pointer;
  color: var(--text);
  text-decoration: none;
  height: 100%;
}

.repoCardContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.repoCard h4 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  margin: 0;
}

.repoCard p {
  font-size: 0.8rem;
  font-weight: 400;
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.language {
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--text-light);
}

.stars {
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--text-light);
}